<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>query data</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>编号</td>
                <td>名称</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="test : ${testList}">
                <td th:text="${test.id}"></td>
                <td th:text="${test.name}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>